{% extends 'layout.html' %}

{% block body %}
        <p class="text-right"><a href='{{url_for("add_user")}}' class="btn btn-success">+Add your information</a></p>
        <p class="text-right"><a href='{{url_for("view")}}' class="btn btn-danger">+View your information</a></p>
        <h1>DOCTOR MANAGEMENT SYSTEM</h1><hr>
        <h3>Hello friends i am mukesh sudhan i created and doctor management system by using the python django and sql by using this i perfrom the CRUD operation to my project</h3>
        <hr>
        <h3>In this program we can add, edit, and delete the data and more . in this i use django, HTML, CSS, js and python with sql</h3>
{% endblock %}